{% extends 'main.html' %}

{% block title %} {{ comic.date }}: {{ comic.title }}{% endblock %}

{% block pageinfo %}<h2 id="title">{{ comic.title }}</h2>

{% spaceless %}
<ul id="topnav">
{% ifequal comic.sequence comic.first %}
    <li id="topnavfirstnot"><a>First</a></li>
    <li id="topnavprevnot"><a>Previous</a></li>
{% else %}
    <li id="topnavfirst"><a href="/comics/{{ comic.first }}/" title="First">First</a></li>
    <li id="topnavprev"><a href="/comics/{{ comic.previous }}" title="Previous">Previous</a></li>
{% endifequal %}
{% ifequal comic.sequence comic.last %}
    <li id="topnavnextnot"><a>Next</a></li>
    <li id="topnavlastnot"><a>Last</a></li>
{% else %}
    <li id="topnavnext"><a href="/comics/{{ comic.next }}/" title="Next">Next</a></li>
    <li id="topnavlast"><a href="/comics/{{ comic.last }}/" title="Last">Last</a></li>
{% endifequal %}
</ul>
{% endspaceless %}

    <h3>{{ comic.date }}<br>{{ comic.newstitle }}</h3>
    <p>{{ comic.news|safe|linebreaksbr }}</p>{% endblock %}

{% block bodycontent %}
<!--OnlineComics.net tags -->

<img src="{{ comic.comic.url }}" width="{{ comic.width}}" height="{{ comic.height}}" alt="Comic for {{ comic.date }}" >

<!-- links to prev and next -->
<ul id="bottomnav" class="nav">
{% ifequal comic.sequence comic.first %}
    <li><span class="currently">First</span></li>
    <li><span class="currently">Previous</span></li>
{% else %}
    <li><a href="/comics/{{ comic.first }}/" title="First">First</a></li>
    <li><a href="/comics/{{ comic.previous }}" title="Previous">Previous</a></li>
{% endifequal %}
{% ifequal comic.sequence comic.last %}
    <li class="forward"><span class="currently">Next</span></li>
    <li class="forward"><span class="currently">Last</span></li>
{% else %}
    <li class="forward"><a href="/comics/{{ comic.next }}/" title="Next">Next</a></li>
    <li class="forward"><a href="/comics/{{ comic.last }}/" title="Last">Last</a></li>
{% endifequal %}    
</ul>
<p id="facebook"><a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fnameremoved.com{{ comic.get_absolute_url }}">Post this comic to your Facebook wall.</a></p>

<div id="transcription">
    {% block transcript %}
    <div class="box">
    <h3>Transcription</h3>
    <code>
        {{ comic.transcript|force_escape|safe|linebreaksbr }}
    </code>
    </div>
    {% endblock %}
</div>
<!-- end of onlinecomics.net -->
{% endblock %}

{% block localnews %}
{% with comic.origin.all as contributions %}
{% if contributions %}
<div id="contribution">
<h3>Contributions</h3>
{% for contribution in contributions %}
<p><a href="{{ contribution.get_absolute_url }}">{{ contribution.aka }}</a>
<em>{{ contribution.get_contribution_type_display }}</em>
{{ contribution.content }}</p>    
{% endfor %}
</div>    
{% endif %}
{% endwith %}
{% endblock %}
