{% extends 'main.html' %}

{% block title %}The Archive of Comics{% endblock %}

{% block headstuff %}
<script src="{{MEDIA_URL}}/js/archive.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
.toggler{background-color:#ccc;text-align:right;padding:0 0 0 0;}
.toggler span{padding:0 1.5em 0 1.5em;}
.toggler:hover{background-color:#aaa;}
#main p{margin-bottom:0;}
#main p.toggler{margin-bottom:1.5em;}
#main ul{margin:0 1.5em 0 1.5em;padding-bottom:1.5em;text-align:left;}
</style>
{% endblock %}

{% block pageinfo %}
    <h2>Comic Archive</h2>
    <p>This is the archive of comics. Examine a storyline and dive right in!</p>
{% endblock %}

{% block bodycontent %}
<div class="box">
{% spaceless %}
{% if comic_list %}
{% for comic in comic_list %}
{% if comic.starts_storyline %}
{% if not forloop.first %}
        </ul>
{% endif %}
        <h3>{{ comic.storyline_title }}</h3>
        <p>{{ comic.storyline_description }}
        <ul class="nav">
{% endif %}
<li><a href="{{ comic.get_absolute_url }}"><span>{{ comic.date|date:"j F, Y" }}</span>
{{comic.title}}</a>
</li>
{% endfor %}
        </ul>
{% else %}
        <p>There are no comics.</p>
{% endif %}
{% endspaceless %}
</div>
{% endblock %}

{% block localnews %}
<div id="contribution">
<h3>Fun Facts</h3>
<p>There are <b>{{ comic_list|length }}</b> comics posted so far!<br>
You might like <b>some</b> of them!</p>
</div>
{% endblock %}