{% extends 'main.html' %}

{% block title %}Contribute to the Site{% endblock %}

{% block localnews %}{% endblock %}

{% block bodycontent %}
<div class="box">
<h3>How to contribute</h3>
<p class="nrccs">All you need to do is visit the <a href="/contribute/submit/">NAME REMOVED CONDUCIVE CONTRIBUTION SYSTEM</a>
    Try it out!</p>
<p>Simultaneously, scope out <a href="/comics/220/">THIS blank comic</a>, add some text, and mail it in! (fourthpanel at nameremoved dot com) It will almost certainly be posted. Amazing interactivity!</p>
<h3>List of Contributors</h3>
<div id="contributors">
{% if plural %}
{% for c in plural %}
    <h4 id="{{ c.contributor.slug }}">{{ c.contributor.name }}</h4>
    <p>{{ c.contributor.info|safe }}</p>
    {% for con in c.contributions %}
        <p class="contribution" id="{{ con.contribution.id }}">
            <a href="#{{ c.contributor.slug }}">{{ con.contribution.aka }}</a>
            <em>{{ con.contribution.contribution_type }}</em> {{ con.contribution.content }}
            <ul class="nav">
            {% for comic in con.comics %}
<li><a href="/comics/{{ comic.sequence }}/"><span>{{ comic.date|date:"j F, Y" }}</span> {{ comic.title }}</a></li>
            {% endfor %}
            </ul>
        </p>
    {% endfor %}
{% endfor %}    
{% endif %}
{% if single %}
{% for c in single|dictsort:"aka" %}
<h4>{{ c.contribution.aka }}</h4>
<p class="contribution" id="{{ c.contribution.id }}">
    <em>{{ c.contribution.contribution_type }}</em>
    {{ c.contribution.content }}
    <ul class="nav">
        {% for comic in c.comics %}
<li><a href="/comics/{{ comic.sequence }}/"><span>{{ comic.date|date:"j F, Y" }}</span> {{ comic.title }}</a></li>
        {% endfor%}
    </ul>
</p>
{% endfor %}
{% endif %}
</div>
</div>
{% endblock%}

{% block extranav %}
    
{% endblock %}

{% block pageinfo %}
<h2>Contribute to Name Removed!</h2>
<p>It's fun and easy!</p>
{% endblock %}
