{% extends 'main.html' %}

{% block title %}Contribute to the Site{% endblock %}

{% block localnews %}{% endblock %}

{% block bodycontent %}
<div class="box">
<h3>How to contribute</h3>
<p class="nrccs">All you need to do is visit the <a href="/contribute/submit/">NAME REMOVED CONDUCIVE CONTRIBUTION SYSTEM</a>
    Try it out!</p>
<p>Simultaneously, scope out <a href="/comics/220/">THIS blank comic</a>, add some text, and mail it in! (fourthpanel at nameremoved dot com) It will almost certainly be posted. Amazing interactivity!</p>
<h3>List of Contributors</h3>
<div id="contributors">
{% if contributions %}
{% for contributor in contributions %}
{% with contributor.0 as C %}
<h4 id="{{ C.slug }}">{{ C.name }}</h4>
<p>{{ C.info|safe }}</p>
{% for contribution in contributor.1 %}
{% if contribution.comics %}
<p id="{{ contribution.id }}" class="contribution"><a href="#{{ C.slug }}">{{ contribution.aka }}</a> <em>{{contribution.contribution_type}}</em> {{ contribution.content }}
<ul class="nav">
    {% for comic in contribution.comics %}
        <li><a href="/comics/{{ comic.sequence }}/"><span>{{ comic.date|date:"j F, Y" }}</span> {{comic.title}}</a></li>
    {% endfor %}
</ul>
</p>
{% endif %}    
{% endfor %}
{% endwith %}
{% endfor %}        
{% endif %}
{% if regular %}
{% for contribution in regular|dictsort:"aka" %}
    {% if contribution.comics %}
        <h4>{{ contribution.aka }}</h4>
        <p id="{{ contribution.id }}" class="contribution"><em>{{ contribution.contribution_type }}</em> {{ contribution.content }}</p>
        <ul class="nav">{% for comic in contribution.comics %}<li><a href="/comics/{{ comic.sequence }}/"><span>{{ comic.date|date:"j F, Y" }}</span>{{ comic.title }}</a></li>{% endfor %}</ul>
    {% endif %}
{% endfor %}
{% endif %}
</div>
</div>
{% endblock%}

{% block extranav %}
    
{% endblock %}

{% block pageinfo %}
<h2>Contribute to Name Removed!</h2>
<p>It's fun and easy!</p>
{% endblock %}
