<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>{% load chunks %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>NAME REMOVED comics by nick wolfe: {% block title %}THE TITLE{% endblock %}</title>
<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="alternate" title="Full-content comics feed" href="http://feeds.feedburner.com/NameRemoved" type="application/rss+xml">
    <link rel="icon" href="{{MEDIA_URL}}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{MEDIA_URL}}/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="http://static.nameremoved.com/apple-touch-icon.png">
<meta name="verify-v1" content="/te/ixWmpXuBMTQblKMp8fERkU3zXuwzeFtvzHcNAQQ=" />
{% block headstuff %}{% endblock %}
</head>
<body>
<div class="container">{% block savedlink %}{% endblock %}
    <div id="header"><h1><img src="{{ MEDIA_URL }}/pix/title.png" alt="NAME REMOVED comics by nick wolfe"></h1></div>

<div id="mainbar">
    <div id="pageinfo">{% block pageinfo %}This is where the page-specific headers go.{% endblock %}</div>

    <div id="main">{% block bodycontent %}Stuff goes here, the content does.{% endblock %}</div>

    <div id="newsbar">{% block localnews %}The basic news goes here.{% endblock %}

    <h2>Site News</h2>
    <p>{% chunk "site_news" 3600 %}</p>

        <div id="pwblock"><h3>Advertisements</h3>
        {% if sqldebug %}
        The ads go here.
        {% else %}
            {% chunk "pw_newsbar" 3600 %}
        {% endif %}
        <p class="pwlink"><a href="https://www.projectwonderful.com/advertisehere.php?id=8681&amp;type=2">Place an advertisement on this site using the Project Wonderful service.</a></p>
        </div>
    </div>
</div>
    <div id="sitebar">
        <div id="siteinfo" class="box">
            <p class="updates">New comics every MONDAY, WEDNESDAY, FRIDAY</p>

            {% spaceless %}
            <ul class="nav">
                {%for url, title in root_pages %}
                {% ifequal url request.path %}
                <li><span class="currently">{{ title }}</span></li>
                {% else %}
                <li><a href="{{ url }}">{{ title }}</a></li>
                {% endifequal %}
                {% endfor %}
            </ul>
            {% endspaceless%}

            <div>
                {% spaceless %}<ul class="nav" id="vote">
                    {% chunk "outside_links" 3600 %}
                </ul>{% endspaceless %}

                <ul class="nav">
<li><a href="http://feeds.feedburner.com/NameRemoved"
       rel="alternate"
       type="application/rss+xml"><img 
       src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png"
       alt="" style="vertical-align:middle;border:0"> Subscribe
to the full-content feed of recent comics!</a></li>
                </ul>
            </div>
        </div>

            <p id="copy">{% chunk "copyright" 3600 %}</p>
            <p id="pig"><a href="http://chumpco.com"><img src="{{ MEDIA_URL }}/pix/pig.png" alt="Presented by ChumpCo, The Dummy Corporation"></a></p>
    </div>
{% if sqldebug %}
    <div id="sqldebug">
        <div class="box">
            <h4>SQL queries performed on this page</h4>
            <p>{{ sqldebug}}</p>
            <ul>
                {{ sqldebug.queries|safe }}
            </ul>
        </div>
    </div>
{% endif %}
</div>
{% if not sqldebug %}<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-291454-1";
urchinTracker();
</script>{% endif %}
</body>
</html>
