<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>{% load chunks %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>NAME REMOVED comics by nick wolfe: {% block title %}THE TITLE{% endblock %}</title>
<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/style20090716.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="alternate" title="Full-content comics feed" href="http://feeds.feedburner.com/NameRemoved" type="application/rss+xml">
<link media="only screen and (max-device-width: 480px)"
    <link rel="icon" href="{{MEDIA_URL}}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{MEDIA_URL}}/favicon.ico" type="image/x-icon">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}/js/sugg.js" type="text/javascript" charset="utf-8"></script>
    <link rel="apple-touch-icon" href="http://static.nameremoved.com/apple-touch-icon.png">
<meta name="verify-v1" content="/te/ixWmpXuBMTQblKMp8fERkU3zXuwzeFtvzHcNAQQ=" />
{% block headstuff %}{% endblock %}
</head>
<body><div id="container"> 
<div id="right">
    <h1><img src="{{ MEDIA_URL }}/pix/thinhead.png" alt="NAME REMOVED comics by nick wolfe"></h1>
    <div id="meta">
        {% spaceless %}
        <ul id="sitenav" class="nav">
            {%for url, title in root_pages %}
            {% ifequal url request.path %}
            <li class="currently">{{ title }}</li>
            {% else %}
            <li><a href="{{ url }}">{{ title }}</a></li>
            {% endifequal %}
            {% endfor %}
        </ul>
        {% endspaceless%}

        <div id="pwblock">
        {% if sqldebug %}
<table>
    <tbody>
        <tr bgcolor="#FFFFFF">
            <td width="117" valign="top" bgcolor="#FFFFFF" align="center" style="vertical-align: top;">
                <a target="_blank" href="http://www.projectwonderful.com/advertisehere.php?r=3&amp;c=0&amp;id=8681&amp;type=2&amp;_r="><img width="117" height="30" border="0" alt="Click to put your ad here, for free!" title="Click to put your ad here, for free!" src="http://www.projectwonderful.com/img/uploads/pics/nadhere.png"></a>
            </td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td width="117" valign="top" bgcolor="#FFFFFF" align="center" style="vertical-align: top;">
                <a target="_blank" href="http://www.projectwonderful.com/advertisehere.php?r=3&amp;c=0&amp;id=8681&amp;type=2&amp;_r="><img width="117" height="30" border="0" alt="Click to put your ad here, for free!" title="Click to put your ad here, for free!" src="http://www.projectwonderful.com/img/uploads/pics/nadhere.png"></a>
            </td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td width="117" valign="top" bgcolor="#FFFFFF" align="center" style="vertical-align: top;">
                <a target="_blank" href="http://www.projectwonderful.com/advertisehere.php?r=3&amp;c=0&amp;id=8681&amp;type=2&amp;_r="><img width="117" height="30" border="0" alt="Click to put your ad here, for free!" title="Click to put your ad here, for free!" src="http://www.projectwonderful.com/img/uploads/pics/nadhere.png"></a>
            </td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td width="117" valign="top" bgcolor="#FFFFFF" align="center" style="vertical-align: top;">
                <a target="_blank" href="http://www.projectwonderful.com/advertisehere.php?r=3&amp;c=0&amp;id=8681&amp;type=2&amp;_r="><img width="117" height="30" border="0" alt="Click to put your ad here, for free!" title="Click to put your ad here, for free!" src="http://www.projectwonderful.com/img/uploads/pics/nadhere.png"></a>
            </td>
        </tr>
    </tbody>
</table>
        {% else %}
            {% chunk "pw_newsbar" %}
        {% endif %}
            <p class="pwlink"><a href="https://www.projectwonderful.com/advertisehere.php?id=8681&amp;type=2">Advertise here.</a></p>
        </div>
        
        <p id="suggester"><a href="/contribute/submit/">Suggest a starter panel!</a></p>
        
        <p id="updates">Updates Monday Wednesday Friday</p>
        
        <div id="sitenews">
            <h3>Site News</h3>
            {% chunk "site_news" %}
        </div>
        
        <div id="linksbar">
            {% spaceless %}<ul class="nav" id="vote">
                {% chunk "outside_links" %}
            </ul>{% endspaceless %}
            <ul class="nav">
                <li><a href="http://feeds.feedburner.com/NameRemoved"
                   rel="alternate"
                   type="application/rss+xml">Subscribe
                    to the full-content feed</a></li>
            </ul>
        </div>
        <p id="copy">{% chunk "copyright" %}</p>    
        <p id="pig"><a href="http://chumpco.com"><img src="{{ MEDIA_URL }}/pix/gbgpig.png" alt="Presented by ChumpCo, The Dummy Corporation"></a></p>
    </div>
    <div id="sidebar">{% block sidebar %}Sidebar content goes here.{% endblock %}</div>
</div>

<div id="main">{% block bodycontent %}Content goes here.{% endblock %}</div>

{% if sqldebug %}
<div id="sqldebug">
    <h4>SQL queries performed on this page</h4>
    <p>{{ sqldebug}}</p>
    <ul>
{{ sqldebug.queries|safe }}
    </ul>
</div>
{% endif %}
</div>
{% if not sqldebug %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-291454-1");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}
</body>
</html>
