{% extends "main.html" %}
{% load flatpage %}

{% block title %}{% flatpage_children flatpage.url %}{% ifequal flatpage_root flatpage %}{{flatpage.title}}{% else %}{{flatpage_root.title}} / {{flatpage.title}}{% endifequal %}{% endblock %}

{% block headstuff %}<style type="text/css">
    .cast img {float:left;clear:both; padding: 0 10px 10px 0;}
    .cast li {list-style-type:none;clear:both;}
</style>{% endblock %}

{% comment %}
    if we're at a flatpage root, then the title is just "current page title"
    if we're below a flatpage root, then the title is "root title / current page title"
{% endcomment %}

{% block bodycontent %}
{{flatpage.content|media_url}}
{% endblock %}

{% block sidebar %}
{% spaceless %}
{% flatpage_children flatpage.url %}
<h2>{% ifequal flatpage_root flatpage %}{{flatpage.title}}{% else %}<a href="{{flatpage_root.url}}">{{flatpage_root.title}}</a> / {{flatpage.title}}{% endifequal %}</h2>
{% if flatpage_children %}
<ul class="nav">
{% for child in flatpage_children %}
    {% ifequal child.url flatpage.url  %}
        <li><span class="currently">{{child.title}}</span></li>
    {% else %}
        <li><a href="{{child.url}}">{{child.title}}</a></li>
    {% endifequal %}
{% endfor %}
</ul>
{% endif %}
{% endspaceless %}
{% endblock %}
